* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    min-height: 100vh;

    background: linear-gradient(135deg, #120814, #2b1235);

    font-family: Arial, sans-serif;

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

}


.container {

    width: 90%;

    max-width: 600px;

    background: #1b1321;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 0 35px rgba(212,175,55,.3);

}


h1 {

    text-align: center;

    color: #d4af37;

    font-size: 50px;

}


.subtitle {

    text-align: center;

    margin: 15px 0 30px;

    color: #ddd;

}


.input-area {

    display: flex;

    gap: 15px;

}


input {

    flex: 1;

    padding: 15px;

    border-radius: 10px;

    border: none;

    background: #2b1833;

    color: white;

    font-size: 16px;

}


button {

    background: #d4af37;

    color: black;

    border: none;

    padding: 15px 25px;

    border-radius: 10px;

    cursor: pointer;

    font-weight: bold;

}


button:hover {

    transform: scale(1.05);

}


#taskList {

    list-style: none;

    margin-top: 30px;

}


#taskList li {

    display: flex;

    align-items: center;

    gap: 15px;

    background: #2b1833;

    padding: 15px;

    margin-top: 15px;

    border-left: 5px solid #d4af37;

    border-radius: 10px;

}


#taskList span {

    flex: 1;

}


.completed {

    text-decoration: line-through;

    opacity: .5;

}


.delete {

    background: #4a154b;

    color: white;

    padding: 8px 15px;

}
